# Visual Studio
.vs/
*.sln
*.suo
*.user
*.userprefs
*.sln.docstates
*.cache
*.pdb
*.ipch/
*.aps
*.ncb
*.obj
*.idb
*.ilk
*.log
*.exe
*.dll
*.lib
*.app
*.manifest
*.pdb
*.ipch/
*.tlog/
*.lastbuildstate


/SFML/
*.o
*.a
*.so
*.dylib

*.tmp
*.temp
*.bak
*.swp
*.swo
*.orig
*.class
*.jar
*.war
*.zip
*.tar
*.gz
*.7z
*.rar

# Системные файлы
Thumbs.db
.DS_Store
